
body {
	background-color:#fff;
}


.offscreenText {
position: absolute;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
padding: 0;
border: 0;
height: 1px; 
width: 1px; 
overflow: hidden;
white-space: nowrap;
}

/*  BEGIN layout */

#logo { margin-bottom:10px; } 
.page {
	margin: auto;
	font-size:5rem; 
        width:86%;
}

.page h1 { font-size:9rem; } 
.page h2 { font-size:8rem; } 
.page h3 { font-size:7rem; } 

footer p {
	text-align:center;
	padding-bottom:20px;
}

header { margin-top:10px; text-align:center; } 

section ,footer ,header {
	display:block;
	margin-bottom:10px;
}

section { border-bottom: 1px solid #ccc; } 

/*  END layout */

/* BEGIN - Past Shows */
.showCount { font-weight:700; } 
.past_shows_item { margin-bottom:5px; }
/* END - Past Shows */
 
/* BEGIN schedule */
#upcomingShows ul { padding:0; } 
li.schedule_list_item {
padding: 5px;
list-style-type:none; 
margin-bottom: 30px; 
}

/* End schedule */

/* BEGIN songlist */
.songlist_item { margin-bottom:5px;  } 
/* END songlist */


ol {
padding-left:5%;
}


/* Flyers */
.flyerBody { background-color:#fff; font-size:3rem; } 
.flyerBody h1  { padding:0; margin:0; font-size:5rem; } 
.flyerBody h2  { padding:0; margin:0 0 5px 0; font-size:4rem; } 
.flyer { border:10px solid #000; padding:30px; margin:50px auto; min-width:950px;  } 
.flyerGigTable { padding:5px;  width:80%;  } 
